
body{
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 100%;
    color: #40514E;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    margin: 50px auto 0 auto;
}
h2{
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    padding-bottom: 10px;
}
h3{
    color:#11999E ;
}
h2, h3{
    font-family: 'Montserrat', sans-serif;
}
.top-container{
    background-color: #E4F9F5;
    margin: 0 auto;
    padding-top: 100px;
}
.middle-container{
    padding: 0 10px;
    margin: 100px 0;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;

}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.skill, .profile-img{
    width: 25%;
}
.skill{
    float: left;
    margin-right: 30px;
}
.skill-2{
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.mountain{
    transform: scale(1.2);
}
.cloud{
    width: 150px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
} 
.btn{
    display: inline-block;
    color: white;
    background-color: #11999E;
    padding: 10px;
    border-radius: 5%;
    border: none;
    margin: 25px 0 100px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    transition: all .2s;
}
.btn:hover{
    transform: translateY(-5px);
}
.btn:active{
    transform: translateY(5px);
}
.cpy-right{
    color: #EAF6F6;
}
hr{
    width: 10%;
    border-style: dotted;
    border-bottom: none;
    border-width: 10px;
    border-color: #EAF6F6;
}
.profile-detail{
    width: 30%;
    margin: auto;
}
p{
    line-height: 2;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
.footer-link:hover{
    color: #EAF6F6;
}
.cpy-right{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}